# Environmental and Societal Factors

> A collection of visualizations to highlight how environmental and societal factors impact our mental well-being.

- toc: true
- badges: false
- comments: false

In [4]:
# hide
# Code Import

## Imports:

### Libraries
import numpy as np
import pandas as pd
import altair as alt
import os, os.path
import pycountry
from vega_datasets import data
import ipywidgets as widgets
from ipywidgets import interactive
import country_converter as coco
import geopandas as gpd
import json

### Data
cwd = os.getcwd()
df_file = '/depression_final_df.csv'
df = pd.read_csv(cwd + df_file)

countries = alt.topo_feature(data.world_110m.url, 'countries')

df = df.dropna(subset=['id'])
df.id = df.id.astype(int)
df = df.rename(columns={"Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent)": "Depression in males (%)",
                        "Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent)": "Depression in females (%)"})

sum_column = df["Depression in males (%)"] + df["Depression in females (%)"]

df['Depression (%)'] = sum_column

In [5]:
df

,Country,country_code,geometry,Year,Depression in males (%),Depression in females (%),Population (historical estimates),Continent,id,Access to green space,Employment rate,Life satisfaction,Perceived health,Satisfaction with time use,Social support,Time spent in social interactions,Divorce Rate,Depression (%)
0,Fiji,FJI,"MULTIPOLYGON (((180 -16.06713266364245, 180 -1...",1990.0,2.565040,3.627058,728575.0,NaN,242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.192097
1,Fiji,FJI,"MULTIPOLYGON (((180 -16.06713266364245, 180 -1...",1991.0,2.574759,3.637601,735398.0,NaN,242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.212360
2,Fiji,FJI,"MULTIPOLYGON (((180 -16.06713266364245, 180 -1...",1992.0,2.583960,3.647769,744470.0,NaN,242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.231729
3,Fiji,FJI,"MULTIPOLYGON (((180 -16.06713266364245, 180 -1...",1993.0,2.594349,3.657140,754962.0,NaN,242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.251489
4,Fiji,FJI,"MULTIPOLYGON (((180 -16.06713266364245, 180 -1...",1994.0,2.602736,3.663786,765607.0,NaN,242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.266522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4734,Trinidad and Tobago,TTO,"POLYGON ((-61.68000000000001 10.76, -61.105 10...",2013.0,2.869620,3.808907,1353708.0,NaN,780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.678528
4735,Trinidad and Tobago,TTO,"POLYGON ((-61.68000000000001 10.76, -61.105 10...",2014.0,2.870082,3.805982,1362337.0,NaN,780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.676064
4736,Trinidad and Tobago,TTO,"POLYGON ((-61.68000000000001 10.76, -61.105 10...",2015.0,2.867165,3.800037,1370332.0,North America,780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.667202
4737,Trinidad and Tobago,TTO,"POLYGON ((-61.68000000000001 10.76, -61.105 10...",2016.0,2.864625,3.794836,1377563.0,NaN,780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.659460
4738,Trinidad and Tobago,TTO,"POLYGON ((-61.68000000000001 10.76, -61.105 10...",2017.0,2.862335,3.790391,1384060.0,NaN,780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.652726

In [11]:
# hide_input
items = ['All']+sorted(df['Country'].unique().tolist())
def view(x='',y=3):
    if x=='All': return df[df['Year']==y]
    #return df[df['Country']==x] and df[df['Year']==y]
    result = df.loc[(df['Country'] == x) & (df['Year'] == y)]
    return result
 
a_slider = widgets.IntSlider(min=1990, max=2017, step=1, value=5)
b_select =  widgets.Select(options=items)
widgets.interactive(view,y=a_slider,x=b_select)

interactive(children=(Select(description='x', options=('All', 'Afghanistan', 'Albania', 'Algeria', 'Angola', '…

In [7]:
x = 'United Kingdom'
y = 1998
df.loc[(df['Country'] == x) & (df['Year'] == y)]

,Country,country_code,geometry,Year,Depression in males (%),Depression in females (%),Population (historical estimates),Continent,id,Access to green space,Employment rate,Life satisfaction,Perceived health,Satisfaction with time use,Social support,Time spent in social interactions,Divorce Rate,Depression (%)
3931,United Kingdom,GBR,MULTIPOLYGON (((-6.197884894220991 53.86756500...,1998.0,3.408111,5.015508,58509972.0,NaN,826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.7,8.423619

In [12]:
import qgrid
import pandas

widget = qgrid.show_grid(df)
widget

ModuleNotFoundError: No module named 'qgrid'